
@model HairApp.Web.Models.CreateShopViewModel

@{
    ViewData["Title"] = "Crear tienda";
}

<h2>Agregar</h2>
<h4>Admin</h4>
<flash dismissable="true"/>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Addrees" class="control-label"></label>
                <input asp-for="Addrees" class="form-control" />
                <span asp-validation-for="Addrees" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NeighborhoodId" class="control-label"></label>
                <select asp-for="NeighborhoodId" asp-items="Model.Neighborhood" class="form-control"></select>
                <span asp-validation-for="NeighborhoodId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" onkeypress="return /[0-9]/i.test(event.key)"/>
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" onkeypress="return /[1-5]/i.test(event.key)"/>
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DepartamentId").change(function () {
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[Select a City...]</option>');
                $("#NeighborhoodId").empty();
                $("#NeighborhoodId").append('<option value="0">[Select a Neighborhood...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCities")',
                    dataType: 'json',
                    data: { DepartamentId: $("#DepartamentId").val() },
                    success: function (subcategories) {
                        $.each(subcategories, function (i, City) {
                            debugger;
                            $("#CityId").append('<option value="'
                                + City.id + '">'
                                + City.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Citys.' + ex);
                    }
                });
                return false;
            })

            $("#CityId").change(function () {
                $("#NeighborhoodId").empty();
                $("#NeighborhoodId").append('<option value="0">[Select a Neighborhood...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetNeighborhoods")',
                    dataType: 'json',
                    data: { CityId: $("#CityId").val() },
                    success: function (cities) {
                        $.each(cities, function (i, Neighborhood) {
                            debugger;
                            $("#NeighborhoodId").append('<option value="'
                                + Neighborhood.id + '">'
                                + Neighborhood.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
