@model HairApp.Web.Models.ShopViewModel

@{
    ViewData["Title"] = "Registar";
}

<h2>Crear</h2>
<h4>Tienda</h4>
<flash dismissable="true" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Shop" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DepartamentId").change(function () {
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[selecione una ciudad...]</option>');
                $("#NeighborhoodId").empty();
                $("#NeighborhoodId").append('<option value="0">[Seleccione un barrio...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCities")',
                    dataType: 'json',
                    data: { DepartamentId: $("#DepartamentId").val() },
                    success: function (subcategories) {
                        $.each(subcategories, function (i, City) {
                            debugger;
                            $("#CityId").append('<option value="'
                                + City.id + '">'
                                + City.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Citys.' + ex);
                    }
                });
                return false;
            })

            $("#CityId").change(function () {
                $("#NeighborhoodId").empty();
                $("#NeighborhoodId").append('<option value="0">[Select a Neighborhood...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetNeighborhoods")',
                    dataType: 'json',
                    data: { CityId: $("#CityId").val() },
                    success: function (cities) {
                        $.each(cities, function (i, Neighborhood) {
                            debugger;
                            $("#NeighborhoodId").append('<option value="'
                                + Neighborhood.id + '">'
                                + Neighborhood.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
